%div{:style => 'padding: 10px;'}
	%div.login
		%h3.header Let's create a ticket!
		%div.body
			%form{:action => 'users'}
				%p.field
					%span.name
						Inform Your Email (if you have already created tickets before)
					%br/
					%span.input
						%input{:type => 'text', :name => 'email', :valeu => ''}
				%p.submit
					%input{:type => 'submit', :name => 'submit', :value => 'Send'}
	%div.new_user
		%h3.header Or start by typing the info below:
		%div.body
			%form{:action => 'users', :method => 'post'}
				%p.field
					%span.name
						Name
					%br/
					%span.input
						%input{:type => 'text', :name => 'name', :valeu => ''}
				%p.field
					%span.name
						Email
					%br/
					%span.input
						%input{:type => 'text', :name => 'email', :valeu => ''}
				%p.submit
					%input{:type => 'submit', :name => 'submit', :value => 'Send'}